/*
This CSS file governs the shared styling of:
QListView
QListWidget
QTreeWidget
*/
QListWidget,
QListView,
QTreeWidget {
    border: 1.5px solid #bdc3c7;
    border-radius: 4px;
    padding: 4px;
    background-color: #ffffff;
}

QListWidget::item,
QListView::item,
QTreeWidget::item {
    padding: 6px 8px;
    border-radius: 3px;
    margin: 2px 0;
}

QListWidget::item:hover,
QListView::item:hover,
QTreeWidget::item:hover {
    background-color: rgba(0, 120, 215, 0.05);
    color: #111;
    border-bottom: 2px solid rgba(0, 120, 215, 0.3);
}

QListWidget::item:selected,
QListView::item:selected,
QTreeWidget::item:selected {
    background: white;
    color: #0078d7;
    font-weight: bold;
    border: 1px solid #dcdcdc;
    border-bottom: 2px solid #0078d7;
}