/* 
This CSS file governs the styling of QSpinBox and QDoubleSpinBox
*/
QSpinBox,
QDoubleSpinBox {
    border: 1.5px solid #bdc3c7;
    border-radius: 3px;
    padding: 1px 4px 1px 3px;
    min-width: 2em;
    background-color: #ffffff;
}

QSpinBox:hover,
QDoubleSpinBox:hover {
    border-color: #95a5a6;
}

QSpinBox:focus,
QDoubleSpinBox:focus {
    border: 1px solid #2563eb;
    background-color: rgba(82, 139, 255, 0.05);
    outline: none;
}

QSpinBox::up-button,
QSpinBox::down-button,
QDoubleSpinBox::up-button,
QDoubleSpinBox::down-button {
    border-width: 0px;
}