/* Governs both the Google Sheets import and export dialog styling*/
QLabel#google_sheets_info_label {
    font-size: 10pt;
    font-weight: bold;
    margin-bottom: 5px;
}

QLabel[styleClass="blue_help_box"] {
    color: #333333;
    background-color: #e8f4f8;
    padding: 12px;
    border-radius: 4px;
}