/* 
General styling for the Toast Notification widget
Styling also governs the toastLevel properties
*/

#toastNotification {
    background-color: #2d2d30;
    border-radius: 8px;
    border: 1px solid #3e3e42;
}

#toastNotification[toastLevel="info"] #toastContent {
    background-color: rgba(0, 152, 255, 0.15);
    border-radius: 8px;
}

#toastNotification[toastLevel="success"] #toastContent {
    background-color: rgba(33, 195, 84, 0.15);
    border-radius: 8px;
}

#toastNotification[toastLevel="warning"] #toastContent {
    background-color: rgba(255, 193, 7, 0.15);
    border-radius: 8px;
}

#toastNotification[toastLevel="error"] #toastContent {
    background-color: rgba(255, 75, 75, 0.15);
    border-radius: 8px;
}

#toastTitle {
    font-weight: bold;
    font-size: 14px;
    color: #E0E0E0;
}

#toastMessage {
    font-size: 12px;
    color: #b0b0b0;
}

#toastCloseButton {
    background: transparent;
    border: none;
    border-radius: 4px;
}

#toastCloseButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Progress Bar */
#toastProgressBar {
    background-color: transparent;
    border: none;
    border-radius: 0px 0px 8px 8px;
}

#toastProgressBar::chunk {
    border-radius: 0px 0px 8px 8px;
}

#toastNotification[toastLevel="info"] #toastProgressBar::chunk {
    background-color: #0098FF;
}

#toastNotification[toastLevel="success"] #toastProgressBar::chunk {
    background-color: #21C354;
}

#toastNotification[toastLevel="warning"] #toastProgressBar::chunk {
    background-color: #FFC800;
}

#toastNotification[toastLevel="error"] #toastProgressBar::chunk {
    background-color: #FF4B4B;
}